<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpPlatform processPath="node" arguments="./index.js">
            <environmentVariables>
                <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
                <environmentVariable name="NODE_ENV" value="production" />
            </environmentVariables>
        </httpPlatform>
        <rewrite>
            <rules>
                <rule name="Redirect to top" stopProcessing="true">
                    <match url="^api/v1/.*" />
                    <action type="Redirect" url="https://{HTTP_HOST}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
        <!-- 'bin' directory has no special meaning in node.js and apps can be placed in it -->
        <security>
            <!-- Modified to allow double escape sequence due to resolve for requesting including "+" on file name -->
            <requestFiltering allowDoubleEscaping="True" removeServerHeader="True">
                <hiddenSegments>
                    <remove segment="bin" />
                </hiddenSegments>
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
        <!-- Make sure error responses are left untouched -->
        <httpErrors existingResponse="PassThrough" />
        <!-- <iisnode watchedFiles="web.config;*.js;" /> -->
    </system.webServer>
</configuration>